/docs/build/*.aux
/docs/build/*.bbl
/docs/build/*.blg
/docs/build/*.bcf
/docs/build/*.dvi
/docs/build/*.log
/docs/build/*.out
/docs/build/*.synctex
/docs/build/*.toc
/docs/build/*.bak
/docs/build/*.bibtex
/docs/build/*.lof
/docs/build/*.lot
/docs/build/*.xml
/docs/build/main-blx.bib
/docs/build/*.synctex.gz
/docs/*.aux
/docs/*.bbl
/docs/*.blg
/docs/*.bcf
/docs/*.dvi
/docs/*.log
/docs/*.out
/docs/*.synctex
/docs/*.toc
/docs/*.bak
/docs/*.bibtex
/docs/*.lof
/docs/*.lot
/docs/*.xml
/docs/main-blx.bib
/docs/*.synctex.gz
/docs/_minted-docs
